/*
div {
    border: 1px;
    border-color: black;
    border-style: solid;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: center;
}

nav li {
    margin: auto;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color:#F99B6C;
}

.index-header {
    background-image: url(header-kuva.webp);
    background-position: bottom;
    background-size: cover;
}

header h1 {
    font-size: 30px;
    text-align: center;
    padding: 230px 10px 230px 10px;
    color: rgba(235, 16, 16, 0.733);
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.osaamiset-ja-taidot-header {
    background-image: url(Osaamiset-ja-taidot.jpg);
    background-position: top;
    background-size: cover;
}


.tietoa-minusta-header {
    background-image: url(tietoa-minusta.jpg);
    background-position: top;
    background-size: cover;
}

.yhteystiedot-header {
    background-image: url(yhteystiedot.jpg);
    background-position: center;
    background-size: cover;
}


section {
    width: 90%;
    margin: auto;
    font-size: 18px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    flex: 1;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.väliotsikko {
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.tasks-list {
    text-align: center;
    padding-left: 20px;
}

footer {
    text-align: center;
    background-color: #F0E3C2;
    margin-top: 40px;
    padding: 20px;
    position: relative;
    bottom: 0;
}
.etusivu-otsikko{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}
.linkit{
    text-align: center;
}

.yhteystiedot-teksti{
    text-align: center;
    }

@media only screen and (min-width: 650px) {
    li {
        float: left;
    }

    section {
        width: 75%;
        text-align: left;
        flex: 1;
    }

    header h1 {
        font-size: 35px;
        padding: 220px 10px 200px 10px;
    }

    .osaamiset-ja-taidot-header h1 {
        font-size: 35px;
        padding: 230px 10px 230px 10px;
    }

    .tietoa-minusta-header h1 {
        font-size: 35px;
        padding: 265px 10px 230px 10px;
    }

    .yhteystiedot-header h1 {
        font-size: 35px;
        padding: 260px 10px 230px 10px;
    }

}

@media only screen and (min-width: 1025px) {
    section {
        width: 60%;
        text-align: left;
    }

    header h1 {
        font-size: 40px;
        padding: 220px 10px 200px 10px;
    }

    .osaamiset-ja-taidot-header h1 {
        font-size: 40px;
        padding: 230px 10px 230px 10px;
    }

    .tietoa-minusta-header h1 {
        font-size: 40px;
        padding: 265px 10px 230px 10px;
    }

    .yhteystiedot-header h1 {
        font-size: 40px;
        padding: 260px 10px 230px 10px;
    }

}